<!--
  Email content can't contain CSS files or
  JavaScript files. JavaScript can't be executed.
  However, you can still write CSS as long as it inside
  a <style> tag. CSS support will not be as good as
  in browsers.
-->

<h1>Hello, World!</h1>

<p> Here is my extra content !</p>